body{
    overflow-x: hidden;
}

#seta{
    position: absolute;
    left: 2.34%;
    right: 93.75%;
    top: 1.74%;
    bottom: 95.66%;

}

#logo{
    position: absolute;
    left: 3.79%;
    top:15%;
}

#titulo-header{
    position: absolute;
    width: 292px;
    height: 48px;
    left: 60px;
    top: 240px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 48px;

    color: #18456B;
}

#efeito{
    position: absolute;
    width: 611px;
    height: 432px;
    left: 0px;
    top: 0px;

    background: url(/img/pag-home/EFEITO.png);
    border-radius: 0px 0px 1000px 0px;
}

#banner{
    position: absolute;
    left: -7px;
    top: -9px;
    width: 1348px;
    background: url(/img/pag-home/banner\ \(2\).png);
}

#titulo{
    position: absolute;
    width: 533px;
    height: 42px;
    left: 20px;
    top: 448px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 42px;

    color: #18456B;

}

#subtitulo{
    position: absolute;
    width: 424px;
    height: 24px;
    left: 20px;
    top: 500px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: rgba(24, 69, 107, 0.8);
}

/*Estilzação tabela*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    WIDTH: 115px;
    height: 30px;
}

th{
    background:#EAF5FF;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tbody{
    position: relative;
    top: 550px;
}

#container-contato{
    position: relative;
    top: -2470px;
}

#endereco{
    position: absolute;
    top: 3005px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #064275;
    left: 300px;
}

#email{
    position: absolute;
    top: 3045px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #064275;
    left: 500px;
}

#telefone{
    position: absolute;
    top: 3090px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #064275;
    left: 600px;
}

#botao-voltar{
    position: absolute;
    left: 950px;
    top: 1825px;
    width: 180px;
    height: 50px;
    background: #4393EE;
    border-color: #4393EE;
    border-radius: 15px 15px 0px 0px;
}

#botao-voltar:hover{
    background: #2E86EA;
    border-color: #2E86EA;
}

#link-voltar{
    position: absolute;
    left: 20px;
    top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.td-configuracao{
    text-align: center;
    width: 35px;
}

.btn-excluir{
    background-color: #0738B2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    width: 156px;
    font-size: 30px;
    height: 39px;
}

.btn-excluir:hover{
    background: #0C47DD;
}
